<app-student-header></app-student-header>

<div class="container">
    <h2>Update any ungraded movies before they're graded!</h2>
    <div *ngIf="reviews">
        <h4>Reviews:</h4>
        <ul>
          <li *ngFor="let review of reviews" routerLink="/student/{{this.student}}/updateMovie/{{review.title}}">
            <div class="review">
              <img src={{review.poster}} alt="movie poster">
              <div class="description">
                <h6>{{review.title}}</h6>
                <span>Rating: {{review.rating}}</span>
                <span>Grade: {{review.grade}}</span>
                <span>Date: {{review.date}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
</div>

