nav {
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
* {
    color: white;
}

a:hover {
    cursor: pointer;
    font-size: 1.25em;
    color: white;
}

a:active {
    color: blue;
    size: 1.05em;
}
