@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

div#login-form *{
    display: block;
    margin-bottom: 10px;
}

h1 {
    color: rgb(102, 102, 185); 
    font-family: 'Permanent Marker';
    text-align: center;
}

h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(102, 102, 185); 
    font-family: 'Permanent Marker';
    text-align: center;
}

div#test {
    padding-top: 20px;
}

button {margin-bottom: 15px; width: 20vw; margin-top: 10px;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 20px;
}

a {
    text-align: center;
}